* {
  margin: 0%;
  padding: 0%;
  /* outline: 1px solid red; */
}
@font-face {
  font-family: 'Lastlap Personal Use Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Lastlap Personal Use Regular'), url('LastlapPersonalUse-PKDrg.woff') format('woff');
  }
#hello {
  text-align: center;
}
body {
  background: radial-gradient(
    circle,
    rgb(232, 241, 244) 0%,
    rgb(217, 225, 228) 100%
  );
}
.lineUp {
  animation: 10s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
h1 {
  display: flex;
  background-clip: text;
  background: linear-gradient(to right, #095fab 10%, #25abe8 50%, #57d75b 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  justify-content: center;
  margin: auto;
  font-size: 300%;
  font-weight: 400;
  font-family: "Lastlap Personal Use Regular", sans-serif;
  text-transform: uppercase;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear 8;
  /* animation will run only 8 times */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.Instruction {
  padding: 10px;
  background-color: #dbecf3;
  font-size: 17px;
  width: 550px;
  justify-content: center;
  text-align: justify;
  margin: auto;
  font-family: "Comic Sans MS", sans-serif;
}
li {
  margin-bottom: 7px;
}
.InstHeading {
  text-align: center;
  font-size: 25px;
}

#gameContainer {
  display: none;
  width: auto;
}

#playerName {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  margin: 20px auto;
  padding: 4px;
  width: 60vw;
  height: 280px;
}

.name {
  font-size: 17px;
}

.checkbox {
  display: flex;
  vertical-align: middle;
}

#inputName {
  width: 170px;
  height: 22px;
  font-size: 20px;
  text-align: center;
}

fieldset {
  border: 1px solid rgb(16, 12, 12);
  color: rgb(9, 7, 7);
  text-align: center;
  width: 100px;
  font-size: 50px;
  font-family: "Roboto";
}
legend {
  padding: 0 5px;
  font-size: 15px;
}

#scoreWrapper {
  display: none;
  width: 75%;
  margin: auto;
  justify-content: space-evenly;
}

.box-wrapper {
  width: 40%;
  height: auto;
  margin: 20px auto;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  border: 0;
  margin: 5px;
  border-radius: 5px;
  font-family: Helvetica;
  padding: 15px 25px;
  font-size: 3em;
  width: 100px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: rgb(157, 220, 178);
  height: 90px;
  box-shadow: 2px 3px 4px 0px darkblue;
}
/* if no of boxes goes beyond 15, 
this class will be applied to all boxes to make them small */
.box2 {
  border: 0;
  margin: 5px;
  border-radius: 5px;
  font-family: Helvetica;
  padding: 15px 25px;
  font-size: 1.8em;
  width: 60px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: rgb(157, 220, 178);
  height: 60px;
  box-shadow: 2px 3px 4px 0px darkblue;
  justify-content: center;
  text-align: center;
  display: flex;
}


.start-btn {
  font-family: "Press Start 2P";
  text-align: center;
  display: block;
  margin: auto;
  padding: 10px 10px 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  border-radius: 7px;
  box-shadow: 0 0.1em gray;
  cursor: pointer;
  font-size: 23px;
  transition: 0.6s ease;

}
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
.start-btn:hover{
  transform: scale(1.1);
  transition: 0.6s ease;
}



.box:hover:enabled,
.start:hover {
  transform: scale(1.1)

}

.box:active,
.start:active {
  transition: 1s ease-in-out;
background: #4F95DA;
  box-shadow: 0 5px #666123;
  transform: translateY(4px);
}

button {
  width:180px;
  height: 62px;
 
}

.buttonwrapper {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 370px;
}








.message {
  font-size: 30px;
  color: #c52044;
  animation:slide-right 1.5s;
  /* animation: blinker 1s linear infinite;  */
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

@keyframes slide-right {
  from {
    margin-left:-100%;
    width: 10%;

  }
  to {
    margin-left:45%;
    width: 10%;
  }
}


/* @keyframes blinker {
  50% {
    opacity: 0;
  }
} */

@media only screen and (max-width: 450px) {
  #scoreWrapper {
    margin-bottom: 10px;
  }
  .box-wrapper {
    color: #fff;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Instruction {
    width: 330px;
    font-size: 15px;
  }

  .name {
    font-size: 17px;
  }

  h1 {
    font-size: 250%;
  }

  .message {
    font-size: 30px;
    color: #c52044;
    animation:slide-right 1.5s;
    /* animation: blinker 1s linear infinite;  */
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }
  
  @keyframes slide-right {
    from {
      margin-left:-100%;
      width: 80%;
  
    }
    to {
      margin-left:25%;
      width: 50%;
    }
  }
  
  
  



}
